<div class="game__zone__level__bar">
    <div class="game__zone__level__bar__active"></div>
</div>
<div class="game__zone__title">
    <h2 class="game__zone__title__main-title">Que fait la constitution ?</h2>
    <h4>Sélectionnez les bonnes réponses !</h4>
</div>
<div class="game__zone__multiple__response">
    <div class="game__zone__response__1 response">
        Elle partage le pouvoir entre le roi et une assemblée élue par le suffrage censitaire
    </div>
    <div class="game__zone__response__2 response">
        Elle donne le pouvoir absolu au Roi.
    </div>
    <div class="game__zone__response__3 response">
        Elle permet aux sujets du Royaume de voter au suffrage universel
    </div>
    <div class="game__zone__response__4 response">
        Elle vend les biens du clergé pour résoudre les problèmes financiers
    </div>
</div>
<div class="game__zone__timer">
    <div class="game__zone__timer__number">10</div>
    <div class="game__zone__timer__sec">sec</div>
</div>  