<div class="game__zone__level__bar">
    <div class="game__zone__level__bar__active"></div>
</div>
<div class="game__zone__title">
    <h2 class="game__zone__title__main-title">Un nouveau régime</h2>
</div>
<div class="game__zone__punchedText">
    <div class="game__zone__punchedText__text">
        Le 5 mai 1789, <div class="game__zone__punchedText__cover">Louis XVI</div> réunit les Etats Généraux du royaume afin de trouver des solutions à la crise que traverse la France. Presque immédiatement, il perd le contrôle des événements. S’engage alors une période de 15 ans durant laquelle la France rompt avec l’Ancien Régime tout en étant confrontée à la guerre et à de nombreux bouleversements.
    </div>
    <div class="game__zone__punchedText__responses">
    </div>
</div>
<div class="game__zone__timer">
    <div class="game__zone__timer__number">10</div>
    <div class="game__zone__timer__sec">sec</div>
</div>