<div class="game__zone__level__bar">
    <div class="game__zone__level__bar__active"></div>
</div>
<div class="game__zone__title">
    <h2 class="game__zone__title__content">La séance d'ouverture des Etats Généraux a lieu à Versailles le ... ?</h2>
</div>
<div class="game__zone__answer">
    <div class="game__zone__answer__answer1 answer">
        date
    </div>
    <div class="game__zone__answer__answer2 answer">
        date
    </div>
    <div class="game__zone__answer__answer3 answer">
        date
    </div>
    <div class="game__zone__answer__answer4 answer">
        date
    </div>

</div>
</div>
<div class="game__zone__timer">
    <div class="game__zone__timer__number">10</div>
    <div class="game__zone__timer__sec">sec</div>
</div>