<div class="game__zone__level__bar">
    <div class="game__zone__level__bar__active"></div>
</div>
<div class="game__zone__title">
    <h2>Les temps forts de la révolution</h2>
    <h4>Placez les dates sur la frise.</h4>
</div>
<div class="game-timeline">
    <div class="game-timeline__arrow">
        <div class="game-timeline__arrow__dates-part">
        </div>
        <div class="game-timeline__arrow__half-circles-part">
        </div>
        <div class="game-timeline__arrow__answer-zones">
        </div>
        <div class="game-timeline__arrow__top-part"></div>
        <div class="game-timeline__arrow__bottom-part"></div>
    </div>
    <div class="game-timeline__answers-list">
    </div>
</div>
<div class="game__zone__timer">
    <div class="game__zone__timer__number">15</div>
    <div class="game__zone__timer__sec">sec</div>
</div>