<div class="game__zone__level__bar">
    <div class="game__zone__level__bar__active"></div>
</div>
<div class="game__zone__title">
    <h2>Entre des mots clés sur le thème ...</h2>
    <h2 class="game__zone__title__second-title">- Les personnages importants de la Révolution française -
    </h2>
</div>
<div class="proposition__key__word">
    <div class="proposition__key__word__1 proposition">
        <div class="proposition__inside__border1">
            5 pts
        </div>
    </div>
    <div class="proposition__key__word__2 proposition">
        <div class="proposition__inside__border2">
            20 pts
        </div>
    </div>
    <div class="proposition__key__word__3 proposition">
        <div class="proposition__inside__border3">
            15 pts
        </div>
    </div>
    <div class="proposition__key__word__4 proposition">
        <div class="proposition__inside__border4">
            40 pts
        </div>
    </div>
    <div class="proposition__key__word__5 proposition">
        <div class="proposition__inside__border5">
            10 pts
        </div>
    </div>
    <div class="proposition__key__word__6 proposition">
        <div class="proposition__inside__border6">
            10 pts
        </div>
    </div>
</div>
<form action="" method="POST" class="game__zone__response">
    <input class="game__zone__response__enter" type="text" name="response"
        placeholder="Entre ta réponse ici...">
</form>
<div class="game__zone__timer">
    <div class="game__zone__timer__number">25</div>
    <div class="game__zone__timer__sec">sec</div>
</div>