<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Plateforme pédagique | Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <main>
        <section class="card mission">
            <h2>Missions</h2>
            <h3>La Révolution et l'Empire</h3>
            <div class="mission__description">
            <div></div>
                <div>
                    <h4>Les temps forts de la Révolution</h4>
                    <p>
                        La Révolution française désigne une période de bouleversements sociaux et politiques de grande envergure en France, dans ses colonies et en Europe à la fin du XVIIIe siècle.
                    </p>
                </div>
                <div>
                    <h4>Les fondations d’une France nouvelle pendant la révolution et l’empire</h4>
                    <p class="mission__description">
                        la réunion des états généraux a suscité de grands espoirs parmi la population française. Les paysans espèrent une amélioration de leurs conditions de vie avec l'allègement.                </p>
                </div>
                <div>
                    <h4>La France et l’Europe en 1815</h4>
                    <p>
                        En 1815, les monarques européens, victorieux de Napoléon Ier, restaurent l’ordre ancien, en redécoupant le territoire de l’Europe à leur avantage au Congrès de Vienne.                </p>
                </div>
                <div class="mission__circle--current mission__circle__first__mission"></div>
                <div class="mission__line--current mission__line__first__mission"></div>
                <div class="mission__circle--locked mission__circle__second__mission"></div>
                <div class="mission__line--locked mission__line__second__mission"></div>
                <div class="mission__circle--locked mission__circle__third__mission"></div>
                <div class="mission__line--locked mission__line__third__mission"></div>
            </div>
        </section>
        <section class="card character">
            <h2>Personnage</h2>
            <div class="experience">
                0
            </div>
            <div class="experience__progress">0/100 xp</div>
            <div class="experience__bar">
                <div class="experience__bar__progress"></div>
            </div>
        </section>
        <section class="card trophies">
            <h2>Succès</h2>
            <div class="success__container">
                <object class="success__container__icon" type="image/svg+xml" data="../images/bronze_crown.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/silver_crown.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/gold_crown.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/bronze_cup.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/silver_cup.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/gold_cup.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/bronze_note.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/silver_note.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/gold_note.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/bronze_bow.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/silver_bow.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/gold_bow.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/bronze_verify.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/silver_verify.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/gold_verify.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/bronze_hourglass.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/silver_hourglass.svg" width="50px" height="50px"></object>
                <object class="success__container__icon" type="image/svg+xml" data="../images/gold_hourglass.svg" width="50px" height="50px"></object>
            </div>
        </section>
    </main>
    <nav class="footer__nav">
        <ul class="footer__nav__items">
            <li class="footer__nav__home">
                <object type="image/svg+xml" data="../images/home.svg" width="50px" height="50px"></object>
            </li>
            <li class="footer__nav__mission">
                <object type="image/svg+xml" data="../images/mission.svg" width="50px" height="50px"></object>
            </li>
            <li class="footer__nav__profil">
                <object type="image/svg+xml" data="../images/profil.svg" width="50px" height="50px"></object>
            </li>
        </ul>
    </nav>
</body>
</html>