<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Plateforme pédagique | S'inscrire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/subscribe.css">
</head>

<body>
    <main>
        <!-- subscribe section start-->
        <section class="subscribe">
            <h1 class="subscribe__title">S'inscrire</h1>
            <!-- Subscribe form start -->
            <form action="" method="post" class="subscribe__form">
                <label for="name">Nom</label>
                <input type="text" name="name" id="name" required>
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" id="firstName" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <div class="subscribe__form__userType__teacher">
                    <label for="teacher" class="teacher">
                        <input class="radio-teacher" type="radio" name="userType" id="teacher" value="teacher">
                        Professeur
                    </label>
                </div>
                <div class="subscribe__form__userType__student">
                    <label for="student" class="student">
                        <input class="radio-student" type="radio" name="userType" id="student" value="student" checked>
                        Elève
                    </label>
                </div>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required>
                <label for="passwordConfirmation">Confirmez votre mot de passe</label>
                <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
                <% if(typeof(alertMessage) != 'undefined') { %>
                <div class="subscribe__form__alert"><%= alertMessage %></div>
                <% } %>
                <!-- Subscribe form submit button start-->
                <input type="submit" placeholder="S'inscrire" class="subscribe__form__button-subscribe">
                <!-- Subscribe form submit button end -->
                <a href="http://localhost:3000/login" class="subscribe__form__login-link">Se connecter</a>
            </form><!-- Subscribe form end -->
        </section><!-- subscribe section end-->
    </main>
</body>

</html>