body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    object-fit: cover;
    font-size: 1em;
    background: #F5F5F5;
    color: #4D4D4D;
}

main {
    position: absolute;
    height: 80vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 22vw;
    height: 60vh;
    margin-left: 10vw;
    padding: 0 25px 25px 25px; 
    border-radius: 6px;
    background: rgb(248, 248, 248);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);

    h2 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    h3 {
        font-size: 0.95em;
        margin: 0;
    }

    h4 {
        font-size: 0.95em;
        padding-left: 20px;
        margin-top: 35px;
        margin-bottom: 0;
    }

    p {
        font-size: 0.8em;
        padding-left: 20px;
        margin-top: 5px;
    }
}

.mission {
    position: relative;
    background-image: url('../images/serment-du-jeu-de-paume.png');
    background-size: cover;
    object-fit: cover;

    &__circle--current {
        position: absolute;
        width: 12px;
        height: 12px;
        background: #4CAEE1;
        border-radius: 50%;
    }

    &__line--current {
        position: absolute;
        width: 3px;
        height: 109px;
        background: #4CAEE1;
        border-radius: 18px;
    }

    &__circle--unlocked {
        position: absolute;
        width: 12px;
        height: 12px;
        background: #91E090;
        border-radius: 50%;
    }

    &__line--unlocked {
        position: absolute;
        width: 3px;
        height: 109px;
        background: rgb(167, 171, 173);
        border-radius: 18px;
    }

    &__circle--locked {
        position: absolute;
        width: 12px;
        height: 12px;
        background: rgb(167, 171, 173);
        border-radius: 50%;
    }

    &__line--locked {
        position: absolute;
        width: 3px;
        height: 109px;
        background: rgb(167, 171, 173);
        border-radius: 18px;
    }

    &__circle__first__mission {
        left: 20px;
        top: 88px;
    }

    &__line__first__mission {
        left: 24px;
        top: 104px;
        height: 129px;
    }

    &__circle__second__mission {
        left: 20px;
        top: 237px;
    }

    &__line__second__mission {
        left: 24px;
        top: 253px;
        height: 155px;
    }

    &__circle__third__mission {
        left: 20px;
        top: 412px;
    }

    &__line__third__mission {
        left: 24px;
        top: 427px;
        height: 127px;
    }
}

.character {
    position: relative;

    .avatar {
        position: absolute;
        top: 10vh;
        left: 2.5vw;
        width: 20vw;
        height: 45vh;
    }
}

.footer__nav {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 80vh;
    left: 0;
    background: #FFFFFF;
    overflow: hidden;

    &__items {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    &__home {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        padding: 0 30px 20px 30px;
        fill: #4CAEE1;
    }

    &__mission {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        padding: 0 30px 20px 30px;
        fill: #D7DDE0;
    }

    &__profil {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        padding: 0 30px 20px 30px;
        fill: #D7DDE0;
    }
}

@media screen and (max-width: 450px) {
    
}
