body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    object-fit: cover;
    font-size: 1rem;
    color: #4C4C4C;
    background: #F5F5F5;
}

.login-section {
    position: absolute;
    width: 70vw;
    height: 70vh;
    left: 2.5vw;
    top: 2.5vh;
    background: #FDFDFD;
    border-radius: 6px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        position: absolute;
        height: 10vh;
        width: 30vw;
        top: 5vh;
        font-size: 	2.5rem;
        line-height: 43px;
        text-align: center;
    }

    &__form {

        &__alert {
            position: absolute;
            top: 45vh;
            left: 22.5vw;
            width: 30vw;
            height: 20px;
            position: absolute;
            color: #F13B3B;
            font-size: 1.1rem;
        }
    }

    &__alert {
        position: absolute;
        color: #F13B3B;
        font-size: 1.1rem;
    }

    .login-form {

        &__first-part {
            position: absolute;
            top: 13vh;
            left: 16vw;
            display: flex;
            flex-direction: column;
           

            label {
                font-weight: normal;
                font-size: 1.3rem;
                margin-top: 15%;
                margin-bottom: 2%;
            }

            [type=text], [type=email], [type=password]{
                height: 4.2vh;
                width: 35vw;
                border: solid black 1px;
                border-radius: 8px;
                font-size: 1.2em;
                padding-left: 20px;
                color: #4C4C4C;
            }
        }

        [type=image]{
            position: absolute;
            height: 3vh;
            width: 3vh;
            right: 3%;
            bottom: 2%;
        }

        .submit {
            position: absolute;
            top: 50vh;
            left: 26vw;
            background: #4CAEE1;
            border: none;
            border-radius: 8px;
            height: 4vh;
            width: 20vh;
            font-weight: bold;
            color: white;
            font-size: 1.25rem;
        }

        a {
            top: 55vh;
            left: 30.5vw;
            width: 20vw;
            height: 20px;
            position: absolute;
            color: #5b5b5b;
            font-size: 1.3rem;
        }    
    }

    .subscribe-link {
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    
    .login-section {
        position: absolute;
        width: 70vw;
        height: 70vh;
        left: 4.5vw;
        top: 4vh;
        background: #FDFDFD;
        border-radius: 6px;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        &__title {
            position: absolute;
            height: 10vh;
            width: 60vw;
            top: 0;
            font-size: 	1.5rem;
            line-height: 43px;
            text-align: center;
        }
    
        &__form {
    
            &__alert {
                top: 35vh;
                left: 5vw;
                width: 80vw;
                height: 20px;
                position: absolute;
                color: #F13B3B;
                font-size: 0.8rem;
            }
        }
    
        .login-form {
    
            &__first-part {
                position: absolute;
                width: 60vw;
                height: 40vh;
                top: 13vh;
                left: 5vw;
                display: flex;
                flex-direction: column;
               
    
                label {
                    font-weight: normal;
                    font-size: 0.8rem;
                    padding-left: 10px;
                }
    
                [type=text], [type=email], [type=password]{
                    height: 3vh;
                    width: 90%;
                    border: solid black 1px;
                    border-radius: 8px;
                    font-size: 0.8em;
                    padding-left: 20px;
                    color: #4C4C4C;
                }
            }
    
            [type=image]{
                position: absolute;
                height: 2vh;
                width: 2vh;
                right: 4%;
                bottom: 51.5%;
            }
    
        .submit {
            position: absolute;
            top: 45vh;
            left: 17.5vw;
            background: #4CAEE1;
            border: none;
            border-radius: 8px;
            height: 4vh;
            width: 16vh;
            font-weight: bold;
            color: white;
            font-size: 0.8rem;
        }
    
            a {
                top: 50vh;
                left: 27.5vw;
                width: 80vw;
                height: 20px;
                position: absolute;
                color: #5b5b5b;
                font-size: 0.8rem;
            }
        }

    }
}