body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    object-fit: cover;
}

.background-decoration {
    width: 261vh;
    height: 261vh;
    left: 70%;
    top: -70%;
    background: #4CAEE1;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.login-section {
    top: 50%;
    left: 7%;
    position: absolute;
    width: 49vh;
    z-index: 10;
    transform: translateY(-54%);

    &__title {
        font-weight: 900;
        font-size: 	2.25rem;
        line-height: 43px;
        text-align: center;
    }

    &__alert {
        color: #F13B3B;
        margin-top: 15px;
        font-size: 1.1rem;
    }

    .login-form {

        &__main-part {
            flex-direction: row;
            flex-wrap: nowrap;
            position: relative;
            justify-content: center;
            display: flex;
        }

        &__first-part {
            display: flex;
            flex-direction: column;
           

            label {
                font-weight: normal;
                font-size: 1.3rem;
                margin-top: 16px;
                margin-bottom: 5px;
            }

            [type=text], [type=email], [type=password]{
                height: 3vh;
                width: 40vh;
                border: solid black 1px;
                border-radius: 8px;
                font-size: 1.2em;
                padding-left: 20px;
                color: #424242;
            }
        }
           [type=image]{
            position: absolute;
            height: 3vh;
            width: 3vh;
            margin-left: 78%;
            margin-top: 81%;
           }

        &__second-part {

            img {
                width: 25vh;
                height:  31vh;
                margin-right: 10px;
                margin-left: 10px;
            }

            position: absolute;
            right: -130%;
            top: 50%;
            transform: translateY(-50%);

            [type=radio] { 
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
              }
              
            [type=radio] + img {
                cursor: pointer;
                border: 1.5px solid #C2C2C2;
                border-radius: 8px;
            }
              
            [type=radio]:checked + img {
                border: 1.5px solid hsl(0, 0%, 0%);
                border-radius: 8px;
            }
        }

        &__radio-button {
            border: solid 1px #C2C2C2;
            border-radius: 8px;
            padding: 12px 46px;
            margin-top: 6%;
            margin-left:2% ;

        
        }

        &__radio-button-div {
            margin-top: 11%;
            margin-bottom: 7%;
            width: 43vh;
            margin-left: -3%;
        }

        .submit {
            background: #4CAEE1;
            border: none;
            border-radius: 8px;
            height:  5vh;
            width: 16vh;
            font-weight: bold;
            color: white;
            font-size: 1.15em;
            margin-top: 10%;
            margin-left: 28%;
        }
    }
}