.game__zone__answer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    height: 40vh;
    top: 30vh;
    left: 20vw;

    .answer {
      width: 20vw;
      height: 10vh;
      margin: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F9EEC5;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      box-sizing: border-box;
      border-radius: 6px;
      font-size: 1.2em;
      cursor: pointer;
    }

    .answer:active {
      border: 2px solid #4CAEE1;
    }
}

@media screen and (max-width: 450px) {
  .game__zone {

    &__answer {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 50vw;
      height: 50vh;
      top: 20vh;
  }

    .answer {
      width: 60vw;
      height: 6vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F9EEC5;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      box-sizing: border-box;
      border-radius: 6px;
      font-size: 1em;
      cursor: pointer;
    }

    .answer:active {
      border: 2px solid #4CAEE1;
    }
  }
}