.game__zone__answer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 44vw;
    height: 40vh;
    top: 33%;
    left: 28%;
    
    h1{
        margin-top: 22%;
        font-size: 1.2rem;
      }

    &__answer1{
      width: 15vw;
      height: 15vh;
      background: #F9EEC5;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      border-radius: 4px;
      cursor: pointer;

    }
    
    @media screen and (min-width: 200px) and (max-width: 1024px) {
        h1 {
            font-size: 0.8rem;
            margin-top: 56%;
            width: 100%;
        }
       &__title h2{
            font-size: 0.7em
        }
      }

    
    &__answer2{
      width: 15vw;
      height: 15vh;  
      background: #F9EEC5;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      border-radius: 4px;
      cursor: pointer;
    }

    &__answer3{
        width: 15vw;
        height: 15vh;  
        background: #F9EEC5;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        cursor: pointer;
      }

      
      &__answer4{
        width: 15vw;
        height:15vh;  
        background: #F9EEC5;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        cursor: pointer;
      }
  



}