.mission-title {
  position: absolute;
  width: 80vw;
  height: 5vh;
  left: 10vw;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em; }

.chapter {
  width: 90vw;
  height: 80vh; }
  .chapter__zone {
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .chapter__zone__card {
      width: 25vw;
      height: 60vh;
      background: url("../images/serment-du-jeu-de-paume-full.png");
      background-size: cover;
      object-fit: cover;
      text-align: center;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      border-radius: 6px; }

.chapter__zone__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: 1.5em;
  padding: 20px 0; }

.subtitle {
  text-align: left;
  font-size: 1.3em;
  margin: 10px 0 0 10px;
  padding: 20px 10px; }

.info-1 {
  display: none; }

.info-2 {
  display: none; }

.info-3 {
  display: none; }

.info-4 {
  display: none; }

.info-5 {
  display: none; }

.info-6 {
  display: none; }

.info-7 {
  display: none; }

.info-8 {
  display: none; }

.info-9 {
  display: none; }

.info-10 {
  display: none; }

.info-11 {
  display: none; }

.info-12 {
  display: none; }

.description {
  position: absolute;
  width: 80vw;
  height: 80px;
  top: 65vh;
  left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9EEC5;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  font-size: 1.6em;
  animation-name: descriptionComing;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; }

@keyframes descriptionComing {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.more {
  background-color: #4CAEE1;
  border: none;
  color: white;
  margin: 0 5px 2px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px; }

@media screen and (max-width: 450px) {
  .mission-title {
    position: absolute;
    width: 80vw;
    height: 5vh;
    left: 10vw;
    top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; }

  .chapter {
    position: absolute;
    width: 90vw;
    height: 80vh;
    left: 0;
    top: 0; }
    .chapter__zone {
      position: absolute;
      width: 90vw;
      left: 5vw;
      top: 8vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .chapter__zone__card {
        width: 80vw;
        height: 26vh;
        margin-bottom: 20px;
        background: url("../images/serment-du-jeu-de-paume-full.png");
        background-size: cover;
        object-fit: cover;
        text-align: center;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
        border-radius: 6px; }

  .chapter__zone__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 0.9em;
    padding: 5px 0 0 0; }

  .subtitle {
    text-align: left;
    font-size: 0.7em;
    padding: 2px 10px; }

  .description {
    position: absolute;
    width: 90vw;
    height: 60px;
    top: 48vh;
    left: 0;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9EEC5;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    font-size: 0.8em;
    animation-name: descriptionComing;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; } }

/*# sourceMappingURL=chapters.css.map */
